h2 {
    color: #2c3e50;
    font-family: Helvetica, sans-serif, Arial;
  }
h3 {
    color: #2c3e50;
    font-family: Helvetica, sans-serif, Arial;
}
h4 {
    color: #2c3e50;
    font-family: Helvetica, sans-serif, Arial;
}
  
  
  
p {
    color: #34495e;
    font-family: Helvetica, sans-serif, Arial;
  }
text {
    color: #34495e;
    font-family: Helvetica, sans-serif, Arial;
}
body {
    background-color: #ecf0f1;
}

.links line {
    stroke: #999;
    stroke-opacity: .6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}