h2 {
    color: #2c3e50;
    font-family: Helvetica, sans-serif, Arial;
  }
h3 {
    color: #2c3e50;
    font-family: Helvetica, sans-serif, Arial;
}
h4 {
    color: #2c3e50;
    font-family: Helvetica, sans-serif, Arial;
}
  
  
  
p {
    color: #34495e;
    font-family: Helvetica, sans-serif, Arial;
  }
text {
    color: #34495e;
    font-family: Helvetica, sans-serif, Arial;
}
body {
    background-color: #ecf0f1;
}

.axis--x path {
    display: none;
}
  
.line {
    fill: none;
    stroke: rgb(201, 69, 69);
    stroke-width: 1.5px;
}
img {
    width: 60%;
    height: 60%;
}