h2 {
    color: #ecf0f1;
    font-family: Helvetica, sans-serif, Arial;
  }
h3 {
    color: #ecf0f1;
    font-family: Helvetica, sans-serif, Arial;
}
h4 {
    color: #ecf0f1;
    font-family: Helvetica, sans-serif, Arial;
}
  
  
  
p {
    color: #ecf0f1;
    font-family: Helvetica, sans-serif, Arial;
  }
text {
    color: #ecf0f1;
    fill: #ecf0f1;
    font-family: Helvetica, sans-serif, Arial;
}
body {
    background-color: #000;
}

g {
    color: #ecf0f1
}